//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"

    a( class=["btn", "btn-" + style, size], href=href )
        block

//- Alert mixin
mixin alert(style)
    div( class=["alert", "alert-dismissable", "alert-" + style] )
        button.close( type="button", data-dismiss="alert" ) ×
        block

//- Navbar
mixin nav(style)
    nav(class=["nav", "nav-" + style])
        block

// Input
mixin inputform(name, type, placeholder, glyph, ngmodel)
    div.form-group.border
        div.input-group
            span(id="#basic-addon1").input-group-addon #{glyph}
            input(name=name, type=type, placeholder=placeholder, aria-describedby="basic-addon1", class="form-control", ng-model=ngmodel)
            block

mixin inputFormGlyph(name, type, placeholder, glyph, text, ngmodel)
    div.form-group.border
        div.input-group
            span(id="#basic-addon1").input-group-addon
                span(class="glyphicon glyphicon-" + glyph, aria-hidden="true") #{text}
            input(name=name, type=type, placeholder=placeholder, aria-describedby="basic-addon1", class="form-control", ng-model=ngmodel)
            block
// - Buttons
mixin buttonGroup(label)
    div(role="group", aria-label=label).btn-group
        block
mixin buttonGroupElement(label, ngclick)
    button(type="button", ng-click=ngclick).btn.btn-default #{label}
    block

// - form
mixin formTextView(id, label, placeholder, type, ngmodel)
    div.form-group
        label(for=id).control-label.col-xs-2 #{label}
        div.col-xs-10
            input(type=type, id=id, placeholder=placeholder, ng-model=ngmodel).form-control
    block

mixin formCheckBoxContainer(label)
    div.form-group
        label.control-label.col-xs-2 #{label}
        block

mixin formCheckBox(label)
    div.col-sm-10
        div.checkbox
            label
                <input type="checkbox"> #{label}
    block

mixin formButton(label, ngclick)
    div.form-group
        div.col-sm-offset-2.col-sm-10
            button(class="btn btn-primary", ng-click=ngclick) #{label}
    block
// - Alerts
mixin alert(type, ngmodel)
    div(class="alert alert-" + type, style="display:none", ng-model=ngmodel, role="alert")
        block